.advertising__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.advertising__categories {
  margin: 10px 0;
}
.button {
  color: white;
  border: none;
}
.button.blue {
  background-color: #1378bf;
  height: 36px;
  width: 32%;
}
.button.orange {
  background-color: #ff9f18;
  height: 40px;
  width: 12%;
}
.color-test {
  font-style: italic;
}
.container__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 20px 8px 20px;
}
.container__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 12px 20px 8px 20px;
}
.container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container__bottom {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container__footer {
  margin-top: 7px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.icons.blue {
  color: #1378bf;
}
.icons.blue:first-child {
  margin-right: 10px;
}
.input.registration {
  height: 32px;
  padding-left: 10px;
}
.input.search {
  width: 100%;
  padding-left: 40px;
  height: 40px;
}
.link.underlined {
  text-decoration: none;
  color: #1378bf;
  border-bottom: 1px solid transparent;
}
.underlined:hover {
  border-bottom: 1px solid #1378bf;
}
.black {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid black;
}
.black:hover {
  border-bottom: 1px solid transparent;
}
.gorizontal {
  margin-right: 24px;
}
.test1 {
  background-color: #1378bf;
}
.link.orange {
  text-decoration: none;
  color: #1378bf;
  padding: 6px;
  margin-right: 6px;
  font-size: 13px;
}
.span {
  font-weight: bold;
}
.link.orange:hover {
  color: #f26d00;
}
.mailbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid #e0e0e0;
}
.mailbox__logo {
  display: block;
  max-width: 100%;
  height: auto;
}
.mailbox__container {
  width: 100%;
}
.mailbox__footer {
  width: 100%;
  border-top: 1px solid #e0e0e0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 16px;
}
.main__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  padding: 0 32px;
}
.main__block-lg {
  width: 73%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 32px;
}
.main__block-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.main__search {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 12px 0;
}
.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.news__categories.border {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  width: 100%;
}
.news__top {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin-left: 10px;
}
.news__text-p {
  margin: 0;
}
.news__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.news__link-underline {
  text-decoration: none;
  color: #1378bf;
  margin-top: 7px;
  font-size: 15px;
  line-height: 20px;
}
.news__link-underline:hover {
  text-decoration: underline;
}
.news__link-teg {
  margin-top: 7px;
  font-size: 15px;
  line-height: 20px;
}
.news__link-underline-black {
  text-decoration: none;
  color: black;
}
.news__link-underline-black:hover {
  text-decoration: underline;
}
.news__all {
  margin-bottom: 20px;
}
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 30px;
  margin-left: 75px;
}
.projects__link {
  position: relative;
  text-decoration: none;
  margin-bottom: 25px;
  color: #1378bf;
}
.projects__link.icon-icq:before {
  content: url(../../../../images/icons/icq.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__link.icon-myWorld:before {
  content: url(../../../../images/icons/myWorld.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__link.icon-classmates:before {
  content: url(../../../../images/icons/classmates.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__link.icon-yule:before {
  content: url(../../../../images/icons/yule.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__link.icon-horoscope:before {
  content: url(../../../../images/icons/horoscope.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__link.icon-tv:before {
  content: url(../../../../images/icons/tv.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.projects__link.icon-pandao:before {
  content: url(../../../../images/icons/pandao.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.select__mail {
  margin-left: -5px;
}
.vidjets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-top: 30px;
  margin-left: 30px;
}
.vidjets__link {
  position: relative;
  text-decoration: none;
  margin-bottom: 25px;
  color: #1378bf;
}
.vidjets__link.icon-weather {
  padding-left: 80px;
}
.vidjets__link.icon-weather:before {
  content: url(../../../../images/vidjets/weather.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.vidjets__link.icon-dollar:before {
  content: url(../../../../images/vidjets/dollar.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.vidjets__link.icon-evro:before {
  content: url(../../../../images/vidjets/evro.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.vidjets__link.icon-gor:before {
  content: url(../../../../images/vidjets/gor.png);
  position: absolute;
  left: -40px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
