.icons {
  position: relative;
  text-decoration: none;
  margin-bottom: 25px;
  color: #1378bf;
  &._icq:before {
    content: url(../../../images/mail/icons/icq.png);
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
  &._myWorld:before {
    content: url(../../../images/mail/icons/myWorld.png);
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
  &._classmates:before {
    content: url(../../../images/mail/icons/classmates.png);
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
  &._yule:before {
    content: url(../../../images/mail/icons/yule.png);
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
  &._horoscope:before {
    content: url(../../../images/mail/icons/horoscope.png);
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
  &._tv:before {
    content: url(../../../images/mail/icons/tv.png);
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
  &._pandao:before {
    content: url(../../../images/mail/icons/pandao.png);
    position: absolute;
    left: -40px;
    top: 50%;
    transform: translateY(-50%);
  }
}
